{% load static from staticfiles %}
<!DOCTYPE html>

<html lang="en" class="body-full-height">
    <head>        
    {% block head %}
      {% block title %}
        <title>Task Timer</title>            
      {% endblock title %}
      {% block meta %}
        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
      {% endblock meta %}
      {% block extra-meta %}{% endblock extra-meta %}
        
      {% block js %}
        <!-- JS INCLUDE -->
        <script src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <!-- END JS INCLUDE -->
      {% endblock js %}
      {% block extra-js %}{% endblock extra-js %}
      {% block header-js %}{% endblock header-js %}
      {% block extra-header-js %}{% endblock extra-header-js %}
      {% block css %}
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-forest.css' %}"/>
        <!-- EOF CSS INCLUDE -->    
        {% endblock css %}
    {% endblock head %}
    {% block extra-head %}{% endblock extra-head %}
    </head>
    <body>
    {% block body %}
        
        <div class="login-container lightmode">
        
            <div class="login-box animated fadeInDown">
                {% block quote %}{% endblock %}
                <div class="login-logo"></div>
                <div class="login-body">
                    {% block innerbody %}
                    <div class="login-title"><strong>Log In</strong> to your account</div>
                    {% endblock innerbody %}
                </div>
                <div class="login-footer">
                    <div class="pull-left">
                        &copy; 2017 Clear Code Software Labs
                    </div>
                    <div class="pull-right">
                        <a href="#">About</a> |
                        <a href="#">Privacy</a> |
                        <a href="#">Contact Us</a>
                    </div>
                </div>
            </div>
            
        </div>
        
    {% endblock body %}
    </body>
</html>
