{% extends "core/base.html" %}
{% load static from staticfiles %}
{% block extra-js %}
        <script type="text/javascript">
        $(function(){
                $('#id_username').attr('placeholder', 'E-mail');
                $('#id_username').attr('class', 'form-control');
                $('#id_password').attr('placeholder', 'Password');
                $('#id_password').attr('class', 'form-control');
               
        });
        </script>
{% endblock extra-js %}
 {% block innerbody %}
                    {% if form.non_field_errors %}
                    <div class="form-group has-error">
                        <label class="control-label">{{ form.non_field_errors }}</label>
                    </div>
                    {% endif %}
                    <div class="login-title"><strong>Login</strong></div>
                    <form action="" class="form-horizontal" method="post">{% csrf_token %}
                    <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                         <div class="col-md-12">
                            {% if form.username.errors %}
                              <label class="control-label">{{ form.username.errors }}</label>
                            {% endif %}
                            {{ form.username }}
                        </div>
                    </div>
                    <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                        <div class="col-md-12">
                            {% if form.password.errors %}
                              <label class="control-label">{{ form.password.errors }}</label>
                            {% endif %}
                            {{ form.password }} 
                        </div>
                    </div>
                   
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="{% url 'registration' %}" class="btn btn-link btn-block">No account? Register</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-block btn-primary">Log In</button>
                        </div>
                    </div>
                    </form>
                    
                    {% endblock innerbody %}
