{% extends "core/base.html" %}
{% load static from staticfiles %}

{% block extra-js %}
        <script type="text/javascript">
        $(function(){
                $('#id_name').attr('placeholder', 'Name');
                $('#id_name').attr('class', 'form-control');
                $('#id_email').attr('placeholder', 'E-mail');
                $('#id_email').attr('class', 'form-control');
                $('#id_password').attr('placeholder', 'Password');
                $('#id_password').attr('class', 'form-control');
                $('#id_pwd2').attr('placeholder', 'Password again');
                $('#id_pwd2').attr('class', 'form-control');
        });
        </script>
{% endblock extra-js %}

{% block quote %}
   <div class="blockquote">
       <h4>"If there is no struggle there is no progress... Power concedes nothing without a demand. It never did and it never will.” 
           <footer><cite>Frederick Douglass</cite></footer>
       </h4>
   </div>
{% endblock %}

                    {% block innerbody %}
                    {% if form.non_field_errors %}
                    <div class="form-group has-error">
                        <label class="control-label">{{ form.non_field_errors }}</label>
                    </div>
                    {% endif %}
                    <div class="login-title"><strong>Register</strong> (It's pretty simple)</div>
                    <form action="" class="form-horizontal" method="post">{% csrf_token %}
                    <div class="form-group{% if form.name.errors %} has-error{% endif %}">
                        <div class="col-md-12">
                            {% if form.name.errors %}
                              <label class="control-label">{{ form.name.errors }}</label>
                            {% endif %}
                            {{ form.name }}
                        </div>
                    </div>
                    <div class="form-group{% if form.email.errors %} has-error{% endif %}">
                        <div class="col-md-12">
                            {% if form.email.errors %}
                              <label class="control-label">{{ form.email.errors }}</label>
                            {% endif %}
                            {{ form.email }}
                        </div>
                    </div>
                    <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                        <div class="col-md-12">
                            {% if form.password.errors %}
                              <label class="control-label">{{ form.password.errors }}</label>
                            {% endif %}
                            {{ form.password }}
                        </div>
                    </div>
                    <div class="form-group{% if form.pwd2.errors %} has-error{% endif %}">
                        <div class="col-md-12">
                            {% if form.pwd2.errors %}
                              <label class="control-label">{{ form.pwd2.errors }}</label>
                            {% endif %}
                            {{ form.pwd2 }}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-6">
                            <a href="{% url 'login' %}" class="btn btn-link btn-block">Login</a>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-block btn-primary">or Register</button>
                        </div>
                    </div>
                    </form>
                    
                    {% endblock innerbody %}
