{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>        
    {% block head %}
      {% block title %}
        <title>Task Timer</title>            
      {% endblock title %}
      {% block meta %}
        <!-- META SECTION -->
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />
        <!-- END META SECTION -->
      {% endblock meta %}
      {% block extra-meta %}{% endblock extra-meta %}

      {% block header-js %}{% endblock header-js %}
      {% block extra-header-js %}{% endblock extra-header-js %}
        
      {% block css %}
        <!-- CSS INCLUDE -->        
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-forest.css' %}"/>
        <!-- EOF CSS INCLUDE -->    
        {% endblock css %}
    {% endblock head %}
    {% block extra-head %}{% endblock extra-head %}
    </head>
    <body>
    {% block body %}
        <!-- START PAGE CONTAINER -->
        <div class="page-navigation-top page-container">
            
            <!-- START PAGE SIDEBAR -->
            <!-- END PAGE SIDEBAR -->
            
            <!-- PAGE CONTENT -->
            <div class="page-content">
                
                <!-- START X-NAVIGATION VERTICAL -->
                {% block navigation %}
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <li class="xn-logo">
                        <a href="{% url 'profile' %}">EDSG Action Tracker</a>
                        <a href="#" class="x-navigation-control"></a>
                    </li>
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                    </li>
                    <li class="xn-openable">
                        <a href="#">
                            <span class="xn-text"><strong>{{ user.username }}</strong></span>
                    <span class="text-muted">&nbsp; Joined {{ user.date_joined }}</span>
                        </a>
                    </li>
                    <li class="xn-openable">
                    <span class="xn-text">Joined <strong>{{ user.date_joined }}</strong></span>
                    </li>
                    <li class="xn-icon-button pull-right last">
                      <a href="{% url 'logout' %}">
                          <span class="fa fa-power-off"></span>
                      </a>
                    </li>
                    <!-- END TOGGLE NAVIGATION -->                    
                </ul>
                {% endblock navigation %}
                <!-- END X-NAVIGATION VERTICAL -->                     
                
                {% block breadcrumb %}
                <!-- START BREADCRUMB -->
                <ul class="breadcrumb">
                    <li><a href="#">Link</a></li>                    
                    <li class="active">Active</li>
                </ul>
                <!-- END BREADCRUMB -->                
                {% endblock breadcrumb %}
                
                <div class="page-title">                    
                    <h2><span class="fa fa-arrow-circle-o-left"></span> 
                        {% block pagetitle %}Page Title{% endblock pagetitle %}</h2>
                </div>                   
                
                <!-- PAGE CONTENT WRAPPER -->
                <div class="page-content-wrap">
                
                    {% block content %}
                    {% block pagecontent %}
                    <div class="row">
                        <div class="col-md-12">

                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Panel Title</h3>
                                </div>
                                <div class="panel-body">
                                    Panel body
                                </div>
                            </div>

                        </div>
                    </div>
                    {% endblock pagecontent %}
                    {% endblock content %}
                
                </div>
                <!-- END PAGE CONTENT WRAPPER -->                
            </div>            
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>                    
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->


      {% block js %}
    <!-- START SCRIPTS -->
        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>        
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->

        <!-- END PAGE PLUGINS -->         

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>        
        <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>        
        <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->         
      {% endblock js %}
      {% block extra-js %}{% endblock extra-js %}
    {% endblock body %}
    </body>
</html>
