{% extends 'tasks/form_base.html' %}
{% load static from staticfiles %}

{% block pagetitle %}Payment{% endblock pagetitle %}

{% block extra-js %}
<script type="text/javascript">
$(function(){
	$('.form-control[disabled]').css('color', '#000');
	
	$('#id_activity').addClass('form-control');
    
    var pad_time = function(value){
        if (value < 10){
            return "0" + value;
        } else {
            return "" + value;
        }
    }

    var display_time = function(seconds){
        var hours = Math.floor(seconds/3600);
        var secs_less_hrs = seconds % 3600;
        var minutes = Math.floor(secs_less_hrs/60);
        var seconds = Math.floor(secs_less_hrs % 60);

        $('#id_second').html(pad_time(seconds));
        $('#id_minute').html(pad_time(minutes));
        $('#id_hour').html(pad_time(hours));
    }
    var count = {{ time_spent }};
    display_time(count);

    var func = function(){
        count++;
        display_time(count);
    }
    var current_status = $('#id_status').val();
    if (current_status == 'play'){
        setInterval(func, 1000);
    }
    //setInterval(func, 1000);
});
</script>
{% endblock extra-js %}

	{% block breadcrumb %}
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#">Tasks</a></li>
        <li class="active">Activity</li>
    </ul>
    <!-- END BREADCRUMB -->
	{% endblock breadcrumb %}

{% block midpanel-heading %}
    <h3 class="panel-title">Running Activity</h3>
{% endblock midpanel-heading %}

{% block link %}

{% endblock link %}

{% block pagecontent %}
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-3">
            
        </div>
         <div class="col-md-3">
            <div class="widget widget-danger widget-padding-sm">
                {% comment %}<span id="id_status" class="display: none;">{{ status }}</span>{% endcomment %}
                <input type="hidden"" value="{{ status }}" id="id_status" />
                <div class="widget-big-int">
                    <span id="id_hour">00</span>
                    <span> : </span>
                    <span id="id_minute">00</span>
                    <span> : </span>
                    <span id="id_second">00</span>
                </div>
            </div>
        </div>
         <div class="col-md-3">
           
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Running Activity
                </div>
                <div class="panel-body">
                    <div class="col-md-6">
                        <h3>{{ task_session.task.activity }}</h3>
                    </div>
                </div>
            </div>
          
        </div>
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Controls</div>
                <div class="panel-body">
                    <form class="form-horizontal" action="" method="post" role="form">{% csrf_token %}
                        <div class="form-group">
                            <div class="col-md-6">
                                <div class="btn-group">
                                   
                                    <div class="col-md-4">
                                         {% if status == 'play' or status == '' %}
                                    <a href="{% url 'task_timing' id=task_session.id %}?activity_status=pause" class="btn btn-default">
                                        <i class="fa fa-pause">
                                        </i>
                                    </a>
                                    {% else %}
                                    <a class="btn btn-default"><i class="fa fa-pause"></i></a>
                                    {% endif %}
                                    </div>
                                    
                                   
                                    <div class="col-md-4">
                                         {% if status == 'pause' %}
                                     <a href="{% url 'task_timing' id=task_session.id %}?activity_status=play" class="btn btn-default">
                                        <i class="fa fa-play">
                                        </i>
                                    </a>
                                    {% else %}
                                    <a class="btn btn-default"><i class="fa fa-play"></i></a>
                                    {% endif %}
                                    </div>
                                    
                                    <div class="col-md-4">
                                     <a href="{% url 'task_timing' id=task_session.id %}?activity_status=stop" class="btn btn-default">
                                        <i class="fa fa-stop">
                                        </i>
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock pagecontent %}

{% block midpanel-body %}
<form action="" class="form-horizontal" method="post">{% csrf_token %}
<div class="form-group{% if form.name.errors %} has-error{% endif %}">
    <label class="control-label col-md-2 col-xs-12">Topic</label>
    <div class="col-md-8 col-xs-12">
        {% if form.name.errors %}
             <label class="control-label">{{ form.name.errors }}</label>
        {% endif %}
        {{ form.name }}
    </div>
</div>

<div class="form-group{% if form.post.errors %} has-error{% endif %}">
    <label class="control-label col-md-2 col-xs-12">Post</label>
    <div class="col-md-8 col-xs-12">
        {% if form.post.errors %}
             <label class="control-label">{{ form.post.errors }}</label>
        {% endif %}
        {{ form.post }}
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <button class="btn btn-block btn-primary">Post</button>
    </div>
</div>
</form>
{% endblock midpanel-body %}

{% block midpanel-footer %}
{% endblock midpanel-footer %}