{% extends 'tasks/form_base.html' %}
{% load static from staticfiles %}

{% block pagetitle %}Work History{% endblock pagetitle %}

{% block breadcrumb %}
<!-- START BREADCRUMB -->
<ul class="breadcrumb">
    <li class="active">Hours By Day</li>
</ul>
<!-- END BREADCRUMB -->
{% endblock breadcrumb %}

{% block links %}
{% endblock links %}

{% block pagecontent %}
<!-- PAGE CONTENT WRAPPER -->
<div class="page-content-wrap">
    <!-- START WIDGETS -->
    <div class="row">

        <div class="col-md-3">

            <!-- START WIDGET MESSAGES -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-clock-o"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">{{ total_time }} hrs</div>
                    <div class="widget-title">Time Spent</div>
                    <div class="widget-subtitle">Total time spent till date</div>
                </div>
                <div class="widget-controls">
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top"
                        title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>
            <!-- END WIDGET MESSAGES -->

        </div>
        <div class="col-md-3">
            <!-- START WIDGET REGISTRED -->
            <div class="widget widget-default widget-item-icon">
                <div class="widget-item-left">
                    <span class="fa fa-user"></span>
                </div>
                <div class="widget-data">
                    <div class="widget-int num-count">{{project.rate}} / hr</div>
                    <div class="widget-title">Rate</div>
                    <div class="widget-subtitle">Project Hourly Rate!</div>
                </div>
                <div class="widget-controls">
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top"
                        title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>
            <!-- END WIDGET REGISTRED -->

        </div>
        <div class="col-md-3">

            <!-- START WIDGET CLOCK -->
            <div class="widget widget-success widget-padding-sm">
                <div class="widget-big-int">&#8358; {{cost}}</div>
                <div class="widget-title">Cost</div>
                <div class="widget-subtitle">Cost of Work till date</div>
                <div class="widget-controls">
                    <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left"
                        title="Remove Widget"><span class="fa fa-times"></span></a>
                </div>
            </div>
            <!-- END WIDGET CLOCK -->

        </div>
    </div>
    <!-- END WIDGETS -->

    <div class="row">
        <div class="col-md-12">

            <!-- START LINE CHART -->
            <!-- START BASIC TABLE SAMPLE -->
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-8">
                                <h3 class="panel-title">Time spent for {{ project }} by day </h3>
                            </div>
                            <div class="col-md-2">
                                <a href="{% url 'task_list' id=project.id %}" class="btn btn-warning">View Tasks</a>
                            </div>
                            <div class="col-md-2">
                                <a href="{% url 'task_work_hours' id=project.id %}" class="btn btn-warning">View Hours</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form">
                                <form action="." method="GET" class="form-inline">
                                    <div class="input-group date" data-provide="datepicker">
                                        {{ form.start }}
                                        <div class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </div>
                                    </div>
                                    <button class="btn btn-success search-button"> <i class="fa fa-search"></i> Search</button>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Date</th>
                                        <th>Hours</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for task in tasks %}
                                    <tr>
                                        <td>{{ task.0 }}</td>
                                        <td>{{ task.1 }}</td>
                                        <td>{{ task.2 }}</td>
                                    </tr>
                                    {% endfor %}

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!-- END LINE CHART -->

            </div>
        </div>
    </div>
    <!-- PAGE CONTENT WRAPPER -->
    {% endblock pagecontent %}




    {% block extra-footer-js %}

    <!-- START THIS PAGE PLUGINS--> {% comment %}
    <script type="text/javascript" src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/scrolltotop/scrolltopcontrol.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/plugins/morris/raphael-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/morris/morris.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/rickshaw/d3.v3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/rickshaw/rickshaw.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/owl/owl.carousel.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/plugins/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/dash_chart.js' %}"></script>
    {% endcomment %}
    <!-- END THIS PAGE PLUGINS-->
    <script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
    <script type="text/javascript">
        $('#id_start').addClass('form-control')
        $('.date').datepicker({
            autoclose: true
        });
    </script>

    {% endblock extra-footer-js %}