{% extends 'tasks/form_base.html' %}
{% load static from staticfiles %}

{% block pagetitle %}Payment{% endblock pagetitle %}

{% block extra-js %}
<script type="text/javascript">
$(function(){
	$('.form-control[disabled]').css('color', '#000');
	
	$('#id_activity').addClass('form-control');
});
</script>
{% endblock extra-js %}

	{% block breadcrumb %}
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{% url 'profile' %}">Home</a></li>
        <li><a href="{% url 'task_sessions' id=task_session.task.id %}">Sessions</a></li>
        <li class="active">Edit Session</li>
    </ul>
    <!-- END BREADCRUMB -->
	{% endblock breadcrumb %}

{% block midpanel-heading %}
    <h3 class="panel-title">Edit Session</h3>
{% endblock midpanel-heading %}

{% block link %}

{% endblock link %}

{% block pagecontent %}
<div class="page-content-wrap">
    <div class="row">
        <div class="col-md-6">
            <form class="form-horizontal" action="" method="post">{% csrf_token %}
                <div class="panel panel-default">
                    <div class="panel-heading">Edit Session for <strong>{{ task_session.task.activity }}</strong></div>
                        <div class="panel-body">
                            {% if form.non_field_errors %}
                                    <div class="form-group has-error">
                                        <label class="control-label">{{ form.non_field_errors }}</label>
                                    </div>
                                {% endif %}
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12">Started</label>
                                <div class="col-md-6 col-xs-12">
                                    {{ task_session.started }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12">Ended</label>
                                <div class="col-md-6 col-xs-12">
                                    {{ task_session.ended }}
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-3 col-xs-12">Duration</label>
                                <div class="col-md-6 col-xs-12">
                                    {{ task_session.duration_human }}
                                </div>
                            </div>
                            <div class="form-group">
                                 
                                <label class="col-md-3 col-xs-12 control-label">Hours</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group{% if form.hours.errors %} has-error{% endif %}">
                                    {% if form.hours.errors %}
                                    <label class="control-label has-error">{{ form.hours.errors }}</label>
                                    {% endif %}
                                    {{ form.hours }}
                                    </div>
                                </div>
                            </div>

                             <div class="form-group">
                                 
                                <label class="col-md-3 col-xs-12 control-label">Minutes</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group{% if form.minutes.errors %} has-error{% endif %}">
                                    {% if form.minutes.errors %}
                                    <label class="control-label has-error">{{ form.minutes.errors }}</label>
                                    {% endif %}
                                    {{ form.minutes }}
                                    </div>
                                </div>
                            </div>

                              <div class="form-group">
                                 
                                <label class="col-md-3 col-xs-12 control-label">Commit Link</label>
                                <div class="col-md-6 col-xs-12">
                                    <div class="form-group{% if form.commit.errors %} has-error{% endif %}">
                                    {% if form.commit.errors %}
                                    <label class="control-label has-error">{{ form.commit.errors }}</label>
                                    {% endif %}
                                    {{ form.commit }}
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="panel-footer">
                            <button class="btn btn-default">Clear Form</button>
                            <input type="submit" class="btn btn-primary pull-right" value="Update"/>
                        </div>
                </div>

					</div>
										
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock pagecontent %}

{% block midpanel-body %}
<form action="" class="form-horizontal" method="post">{% csrf_token %}
<div class="form-group{% if form.name.errors %} has-error{% endif %}">
    <label class="control-label col-md-2 col-xs-12">Topic</label>
    <div class="col-md-8 col-xs-12">
        {% if form.name.errors %}
             <label class="control-label">{{ form.name.errors }}</label>
        {% endif %}
        {{ form.name }}
    </div>
</div>

<div class="form-group{% if form.post.errors %} has-error{% endif %}">
    <label class="control-label col-md-2 col-xs-12">Post</label>
    <div class="col-md-8 col-xs-12">
        {% if form.post.errors %}
             <label class="control-label">{{ form.post.errors }}</label>
        {% endif %}
        {{ form.post }}
    </div>
</div>
<div class="form-group">
    <div class="col-md-2"></div>
    <div class="col-md-6">
        <button class="btn btn-block btn-primary">Post</button>
    </div>
</div>
</form>
{% endblock midpanel-body %}

{% block midpanel-footer %}
{% endblock midpanel-footer %}