{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    {% block title %}
    <title>Task Timer</title>
    {% endblock title %}
    <!-- META SECTION -->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <!-- END META SECTION -->

    {% block style %}
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-forest.css' %}" />
    <!-- EOF CSS INCLUDE -->

    {% endblock style %}
    {% block js %}
    <!-- JS INCLUDE -->
    <script src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
    <!-- END JS INCLUDE -->
    {% endblock js %}
    {% block extra-js %}{% endblock extra-js %}
    {% block header-js %}{% endblock header-js %}
    {% block extra-header-js %}{% endblock extra-header-js %}
    {% block css %}
    <!-- CSS INCLUDE -->
    <link rel="stylesheet" type="text/css" id="theme" href="{% static 'css/theme-forest.css' %}" />
    <!-- EOF CSS INCLUDE -->
    {% endblock css %}
    {% endblock head %}
</head>

<body>
    <!-- START PAGE CONTAINER -->
    <div class="page-container">

        <!-- START PAGE SIDEBAR -->
        {% block sidebar %}
        <div class="page-sidebar">
            <!-- START X-NAVIGATION -->
            {% block navigation %}
            <ul class="x-navigation">
                <li class="xn-logo">
                    <a href="{% url 'profile' %}">Task Timer</a>
                    <a href="#" class="x-navigation-control"></a>
                </li>
                <li class="xn-profile">
                    <a href="#" class="profile-mini">
                        <img src="{% static 'assets/images/users/avatar.png' %}" alt="Welcome" />
                    </a>
                    <div class="profile">
                        <div class="profile-image">
                            <img src="{% static 'assets/images/users/avatar.png' %}" alt="Welcome" />
                        </div>
                        <div class="profile-data">
                            <div class="profile-data-name">Welcome</div>
                            <div class="profile-data-title">{{ user.first_name|default:"Guest" }}</div>
                        </div>
                        <div class="profile-controls">
                            <a href="pages-profile.html" class="profile-control-left"><span class="fa fa-info"></span></a>
                            <a href="pages-messages.html" class="profile-control-right"><span class="fa fa-envelope"></span></a>
                        </div>
                    </div>
                </li>
                <li class="xn-title">Navigation</li>
                <li>
                    <a href="{% url 'profile' %}"><span class="fa fa-desktop"></span> <span class="xn-text">Dashboard</span></a>
                    {% if user.is_superuser %}
                    <a href="{% url 'task_summary' %}"><span class="fa fa-file"></span> <span class="xn-text">Summary</span></a>
                    {% endif %}
                    {% if user.is_authenticated %}
                    <a href="{% url 'task_reports' %}"><span class="fa fa-list"></span> <span class="xn-text">Reports</span></a>
                    {% endif %}
                </li>

                {% block links %}
                <li>
                    {% if session_count %}
                    <a href="{% url 'task_timing' id=active_sessions.0.id %}"><span class="fa fa-tasks"></span> <span
                            class="xn-text">{{ session_count }} Task{{ session_count|pluralize }} running</span></a>
                    {% else %}
                    <a><span class="fa fa-tasks"></span> <span class="xn-text">{{ session_count }} Task{{
                            session_count|pluralize }} running</span></a>
                    {% endif %}

                </li>
                {% comment %}
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-files-o"></span> <span class="xn-text">Account Management</span></a>
                    <ul>
                        <li><a href="{% url 'profile' %}"><span class="fa fa-user"></span> Profile</a></li>
                        <li><a href="#"><span class="fa fa-wrench"></span>Settings</a></li>
                        <li><a href="#"><span class="fa fa-dollar"></span>Invoices</a></li>
                        <li><a href="#"><span class="fa fa-times-circle"></span>Logout</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-file-text-o"></span> <span class="xn-text">Transaction</span></a>
                    <ul>
                        <li><a href="{% url 'profile' %}">VAT Returns</a></li>
                        <li><a href="{% url 'profile' %}">Registration</a></li>
                        <li><a href="{% url 'profile' %}">History</a></li>
                    </ul>
                </li>
                <li class="xn-openable">
                    <a href="#"><span class="fa fa-comment-o"></span> <span class="xn-text">Enquiries</span></a>
                    <ul>
                        <li><a href="#">Enquiries</a></li>

                    </ul>
                </li>
                {% endcomment %}
                {% endblock links %}

            </ul>
            {% endblock navigation %}
            <!-- END X-NAVIGATION -->
        </div>
        {% endblock sidebar %}
        <!-- END PAGE SIDEBAR -->

        <!-- PAGE CONTENT -->
        <div class="page-content" style="height: 100%;">

            <!-- START X-NAVIGATION VERTICAL -->
            <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                <!-- TOGGLE NAVIGATION -->
                <li class="xn-icon-button">
                    <a href="#" class="x-navigation-minimize"><span class="fa fa-dedent"></span></a>
                </li>
                <!-- END TOGGLE NAVIGATION -->
                <!-- SEARCH -->
                <li class="xn-search">
                    <form role="form">
                        <input type="text" name="search" placeholder="Search..." />
                    </form>
                </li>
                <!-- END SEARCH -->
                <!-- POWER OFF -->
                <li class="xn-icon-button pull-right last">
                    <a href="{% url 'logout' %}"><span class="fa fa-power-off"></span></a>
                    <ul class="xn-drop-left animated zoomIn">
                        <!--<li><a href="pages-lock-screen.html"><span class="fa fa-lock"></span> Lock Screen</a></li>-->
                        <li><a href="#" class="mb-control" data-box="#mb-signout"><span class="fa fa-sign-out"></span>
                                Sign Out</a></li>
                    </ul>
                </li>
                <!-- END POWER OFF -->
                <!-- MESSAGES -->
                {% comment %}
                <li class="xn-icon-button pull-right">
                    <a href="#"><span class="fa fa-comments"></span></a>
                    <div class="informer informer-danger">4</div>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-comments"></span> Messages</h3>
                            <div class="pull-right">
                                <span class="label label-danger">4 new</span>
                            </div>
                        </div>
                        <div class="panel-body list-group list-group-contacts scroll" style="height: 200px;">
                            <a href="#" class="list-group-item">
                                <div class="list-group-status status-online"></div>
                                <img src="assets/images/users/user2.jpg" class="pull-left" alt="VAT" />
                                <span class="contacts-title">Registration</span>
                                <p>Complete Registration</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="list-group-status status-away"></div>
                                <img src="assets/images/users/user.jpg" class="pull-left" alt="FIRS" />
                                <span class="contacts-title">Payment</span>
                                <p>Overdue Payments are listed ...</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="list-group-status status-away"></div>
                                <img src="assets/images/users/user3.jpg" class="pull-left" alt="Note" />
                                <span class="contacts-title">Payment</span>
                                <p>VAT Payment has been received for Month ...</p>
                            </a>
                            <a href="#" class="list-group-item">
                                <div class="list-group-status status-offline"></div>
                                <img src="assets/images/users/user6.jpg" class="pull-left" alt="Note" />
                                <span class="contacts-title">Payment</span>
                                <p>VAT Payment has been received for Month ...</p>
                            </a>
                        </div>
                        <div class="panel-footer text-center">
                            <a href="#">Show all messages</a>
                        </div>
                    </div>
                </li>
                {% endcomment %}
                <!-- END MESSAGES -->
                <!-- TASKS -->
                <li class="xn-icon-button pull-right">
                    <a href="#"><span class="fa fa-tasks"></span></a>
                    <div class="informer informer-warning">0</div>
                    <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                        <div class="panel-heading">
                            <h3 class="panel-title"><span class="fa fa-tasks"></span> Tasks</h3>
                            <div class="pull-right">
                                <span class="label label-warning">0 active</span>
                            </div>
                        </div>
                        <div class="panel-body list-group scroll" style="height: 200px;">
                        </div>
                        <div class="panel-footer text-center">
                            <a href="#">Show all tasks</a>
                        </div>
                    </div>
                </li>
                <!-- END TASKS -->
                <!-- LANG BAR -->
                <li class="xn-icon-button pull-right">
                    <a href="#"><span class="flag flag-ng"></span></a>
                    <ul class="xn-drop-left xn-drop-white animated zoomIn">
                        <li><a href="#"><span class="flag flag-gb"></span> English</a></li>
                        <li><a href="#"><span class="flag flag-de"></span> Deutsch</a></li>
                        <li><a href="#"><span class="flag flag-cn"></span> Chinese</a></li>
                    </ul>
                </li>
                <!-- END LANG BAR -->
            </ul>
            <!-- END X-NAVIGATION VERTICAL -->

            {% block breadcrumb %}
            <!-- START BREADCRUMB -->
            <ul class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Tax</a></li>
                <li class="active">Company Registration</li>
            </ul>
            <!-- END BREADCRUMB -->
            {% endblock breadcrumb %}

            <!-- PAGE CONTENT WRAPPER -->
            {% block pagecontent %}
            <div class="page-content-wrap">

                <div class="row">
                    <div class="col-md-12">

                        <form class="form-horizontal">

                            <div class="panel panel-default tabs">
                                <ul class="nav nav-tabs" role="tablist">
                                    <li class="active"><a href="#tab-first" role="tab" data-toggle="tab">Personal Data</a></li>
                                    <li><a href="#tab-second" role="tab" data-toggle="tab">Payment Settings</a></li>
                                    <li><a href="#tab-third" role="tab" data-toggle="tab">Email Settings</a></li>
                                </ul>
                                <div class="panel-body tab-content">
                                    <div class="tab-pane active" id="tab-first">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dictum dolor
                                            sem, quis pharetra dui ultricies vel. Cras non pulvinar tellus, vel
                                            bibendum magna. Morbi tellus nulla, cursus non nisi sed, porttitor
                                            dignissim erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                            Nunc facilisis commodo lectus. Vivamus vel tincidunt enim, non vulputate
                                            ipsum. Ut pellentesque consectetur arcu sit amet scelerisque. Fusce commodo
                                            leo eros, ut eleifend massa congue at.</p>

                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">First Name</label>
                                            <div class="col-md-6 col-xs-12">
                                                <input type="text" class="form-control" value="John" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">Second Name</label>
                                            <div class="col-md-6 col-xs-12">
                                                <input type="text" class="form-control" value="Doe" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">Date of birth</label>
                                            <div class="col-md-2">
                                                <select class="form-control select">
                                                    <option>01</option>
                                                    <option>02</option>
                                                    <option>03</option>
                                                    <option selected="selected">04</option>
                                                    <option>05</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <select class="form-control select">
                                                    <option>01</option>
                                                    <option selected="selected">02</option>
                                                    <option>03</option>
                                                    <option>04</option>
                                                    <option>05</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">
                                                <select class="form-control select">
                                                    <option>1985</option>
                                                    <option>1986</option>
                                                    <option>1987</option>
                                                    <option>1988</option>
                                                    <option selected="selected">1989</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">About</label>
                                            <div class="col-md-6 col-xs-12">
                                                <textarea class="form-control" rows="5">Morbi tellus nulla, cursus non nisi sed, porttitor dignissim erat. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc facilisis commodo lectus. Vivamus vel tincidunt enim, non vulputate ipsum. Ut pellentesque consectetur arcu sit amet scelerisque. Fusce commodo leo eros, ut eleifend massa congue at.</textarea>
                                                <span class="help-block">Somethink about your life</span>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">E-mail</label>
                                            <div class="col-md-6 col-xs-12">
                                                <label class="check"><input type="checkbox" class="icheckbox" checked="checked" />
                                                    I want to get emails</label>
                                                <span class="help-block">If you wish of course</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="tab-second">
                                        <p>Donec tristique eu sem et aliquam. Proin sodales elementum urna et euismod.
                                            Quisque nisl nisl, venenatis eget dignissim et, adipiscing eu tellus. Sed
                                            nulla massa, luctus id orci sed, elementum consequat est. Proin dictum odio
                                            quis diam gravida facilisis. Sed pharetra dolor a tempor tristique. Sed
                                            semper sed urna ac dignissim. Aenean fermentum leo at posuere mattis. Etiam
                                            vitae quam in magna viverra dictum. Curabitur feugiat ligula in dui luctus,
                                            sed aliquet neque posuere.</p>

                                        <div class="form-group">
                                            <label class="col-md-2 col-xs-12 control-label">Payment type</label>
                                            <div class="col-md-2">
                                                <select class="form-control select">
                                                    <option>PayPal</option>
                                                    <option selected="selected">Payoneer</option>
                                                    <option>Skrill</option>
                                                    <option>SWIFT</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <div class="col-md-2"></div>
                                            <div class="col-md-10">Fusce enim dui, pulvinar a augue nec, dapibus
                                                hendrerit mauris. Praesent efficitur, elit non convallis faucibus.</div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 col-xs-12 control-label">E-mail</label>
                                            <div class="col-md-6 col-xs-12">
                                                <input type="text" class="form-control" value="johndoe@domain.com" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 col-xs-12 control-label"></label>
                                            <div class="col-md-6 col-xs-12">
                                                <label class="check"><input type="checkbox" class="icheckbox" checked="checked" />
                                                    I agree</label>
                                                <span class="help-block">Read <a href="#">terms</a> and confirm that
                                                    you agree</span>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="tab-pane" id="tab-third">
                                        <p>This is non libero bibendum, scelerisque arcu id, placerat nunc. Integer
                                            ullamcorper rutrum dui eget porta. Fusce enim dui, pulvinar a augue nec,
                                            dapibus hendrerit mauris. Praesent efficitur, elit non convallis faucibus,
                                            enim sapien suscipit mi, sit amet fringilla felis arcu id sem. Phasellus
                                            semper felis in odio convallis, et venenatis nisl posuere. Morbi non
                                            aliquet magna, a consectetur risus. Vivamus quis tellus eros. Nulla
                                            sagittis nisi sit amet orci consectetur laoreet.</p>

                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">E-mail</label>
                                            <div class="col-md-6 col-xs-12">
                                                <input type="text" class="form-control" value="johndoe@domain.com" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">Password</label>
                                            <div class="col-md-6 col-xs-12">
                                                <input type="password" class="form-control" value="password" />
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-3 col-xs-12 control-label">POP3</label>
                                            <div class="col-md-6 col-xs-12">
                                                <input type="text" class="form-control" value="pop3.domain.com" />
                                            </div>
                                        </div>

                                        <div class="form-group push-up-30">
                                            <label class="col-md-3 col-xs-12 control-label">Copy to</label>
                                            <div class="col-md-6 col-xs-12">
                                                <input type="text" class="form-control" value="doejohn@domain.com" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="panel-footer">
                                    <button class="btn btn-primary pull-right">Save Changes <span class="fa fa-floppy-o fa-right"></span></button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>

            </div>
            {% endblock pagecontent %}
            <!-- END PAGE CONTENT WRAPPER -->
        </div>
        <!-- END PAGE CONTENT -->
    </div>
    <!-- END PAGE CONTAINER -->

    <!-- MESSAGE BOX-->
    <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
        <div class="mb-container">
            <div class="mb-middle">
                <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                <div class="mb-content">
                    <p>Are you sure you want to log out?</p>
                    <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                </div>
                <div class="mb-footer">
                    <div class="pull-right">
                        <a href="{% url 'logout' %}" class="btn btn-success btn-lg">Yes</a>
                        <button class="btn btn-default btn-lg mb-control-close">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END MESSAGE BOX-->

    <!-- START PRELOADS -->
    {% comment %}<audio id="audio-alert" src="audio/alert.mp3" preload="auto"></audio>{% endcomment %}
    {% comment %}<audio id="audio-fail" src="audio/fail.mp3" preload="auto"></audio>{% endcomment %}
    <!-- END PRELOADS -->

    {% block footer-js %}
    <!-- START SCRIPTS -->
    <!-- START PLUGINS -->
    <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jquery/jquery-ui.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap.min.js' %}"></script>
    <!-- END PLUGINS -->

    <!-- THIS PAGE PLUGINS -->
    <script type='text/javascript' src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-file-input.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-select.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/tagsinput/jquery.tagsinput.min.js' %}"></script>
    <!-- END THIS PAGE PLUGINS -->

    <!-- START TEMPLATE -->
    {% comment %}
    <script type="text/javascript" src="{% static 'js/settings.js' %}"></script>{% endcomment %}

    <script type="text/javascript" src="{% static 'js/plugins.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/actions.js' %}"></script>
    <!-- END TEMPLATE -->
    <!-- END SCRIPTS -->
    {% endblock footer-js %}

    {% block extra-footer-js %}
    {% endblock extra-footer-js %}
</body>

</html>