{% extends 'tasks/form_base.html' %}
{% load static from staticfiles %}

{% block pagetitle %}Payment History{% endblock pagetitle %}

	{% block breadcrumb %}
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="{% url 'profile' %}">Projects</a></li>
        <li class="active">Reports</li>
    </ul>
    <!-- END BREADCRUMB -->
	{% endblock breadcrumb %}

{% block extra-css %}
<style>
    div.page-content {
        height: 100%;
    }
</style>
{% endblock extra-css %}

{% block pagecontent %}
 <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap" id="app">                
	   
       <div class="row">
           <div class="col-md-12">
               <div class="panel panel-defaut">
                   <div class="panel-heading">
                       <h3 class="panel-title">Charts</h3>
                       <div class="col-md-3"><button class="primary" @click="previous()">previous</button></div>
                       <div class="col-md-3"><button class="secondary" @click="current()">current</button></div>
                   </div>
                   <div class="panel-body">
                       <div id="chart">
                           <canvas id="chart1" width="80vw" height="30vh"></canvas>
                       </div>
                   </div>
                   <div class="panel-footer">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title">Summary</h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                        
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Hours</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="other in users">
                                                <td>[other.name]</td>
                                                <td>[other.time]</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                   </div>
               </div>
           </div>
       </div>
       <div class="row">
           <div class="col-md-12">

               <!-- START LINE CHART -->
                <!-- START BASIC TABLE SAMPLE -->
                           
               <!-- END LINE CHART -->

           </div>
	   </div>
    </div>
 <!-- PAGE CONTENT WRAPPER -->   
{% endblock pagecontent %}                             
            
      
{% block extra-footer-js %}
	
<!-- START THIS PAGE PLUGINS-->        
<script src="{% static 'js/vue.min.js' %}"></script>
<script src="https://unpkg.com/vue-resource@1.3.1/dist/vue-resource.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/randomcolor/0.5.2/randomColor.min.js"></script>
<!-- END THIS PAGE PLUGINS-->

<script>
    Vue.component('summary-table', {
        props: ['users'],
        delimiters: ["[","]"],
        template: '\
            <table class="table">\
                <thead>\
                    <tr>\
                        <th>Name</th>\
                        <th>Hours</th>\
                    </tr>\
                </thead>\
                <tbody>\
                    <tr v-for="usr in users">\
                        <td>[usr.name]</td>\
                        <td>[usr.time]</td>\
                    </tr>\
                </tbody>\
            </table>\
        '
    });

    var vm = new Vue({
        el: "#app",
        delimiters: ["[","]"],
        data: {
            users: [],
            others: [
            {
                'name': 'test',
                'time': 'now'
            }]
        },
        mounted: function() {
            console.log('vue mounted');
            this.getData('current');
        },
        methods: {
            getData: function(daterange) {
                const url = `/tasks/sessions_json/?daterange=${daterange}`;
                this.$http.get(url).then(response => {
                    this.users = response.body.summary;
                    var chartData = [];
                    for (var key in response.body.data) {
                        const color = randomColor();
                        chartData.push({
                            label: key,
                            data: response.body.data[key],
                            borderColor: color
                        });
                    }
                    var ctx = document.getElementById('chart1').getContext('2d');
                    new Chart(ctx, {
                        type: 'line',
                        data: {
                            labels: response.body.dates,
                            datasets: chartData
                        }
                    });
                })
            },
            current: function() {
                this.getData('current');
            },
            previous: function() {
                this.getData('previous');
            }
        }
    })
</script>

{% endblock extra-footer-js %}







