{% extends 'tasks/form_base.html' %}
{% load static from staticfiles %}

{% block pagetitle %}Payment History{% endblock pagetitle %}

	{% block breadcrumb %}
    <!-- START BREADCRUMB -->
    <ul class="breadcrumb">
        <li><a href="{% url 'profile' %}">Home</a></li>
        <li><a href="{% url 'task_list' id=project_id %}">Tasks</a></li>
        <li class="active">Sessions</li>
        
    </ul>
    <!-- END BREADCRUMB -->
	{% endblock breadcrumb %}
	

{% block pagecontent %}
 <!-- PAGE CONTENT WRAPPER -->
    <div class="page-content-wrap">                
       <!-- START WIDGETS -->    
       {% comment %}                
       <div class="row">
           <div class="col-md-3">
               
               <!-- START WIDGET SLIDER -->
               <div class="widget widget-default widget-carousel">
                   <div class="owl-carousel" id="owl-example">
                       <div>                                    
                           <div class="widget-title">Last Payment</div>                                                                        
                           <div class="widget-subtitle">27/12/2015 15:23</div>
                           <div class="widget-int">N13,548.00</div>
                       </div>
                       <div>                                    
                           <div class="widget-title">Early Payment</div>
                           <div class="widget-subtitle">14 (out of 16)</div>
                           <div class="widget-int">87.6%</div>
                       </div>
                       <div>                                    
                           <div class="widget-title">Next Payment</div>
                           <div class="widget-subtitle">(Due date)</div>
                           <div class="widget-int">27/01/2016</div>
                       </div>
                   </div>                            
                   <div class="widget-controls">                                
                       <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                   </div>                             
               </div>         
               <!-- END WIDGET SLIDER -->
               
           </div>
           <div class="col-md-3">
               
               <!-- START WIDGET MESSAGES -->
               <div class="widget widget-default widget-item-icon" onclick="location.href='pages-messages.html';">
                   <div class="widget-item-left">
                       <span class="fa fa-envelope"></span>
                   </div>                             
                   <div class="widget-data">
                       <div class="widget-int num-count">{{ projects|length }}</div>
                       <div class="widget-title">Current Projects</div>
                       <div class="widget-subtitle">current projects</div>
                   </div>      
                   <div class="widget-controls">                                
                       <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                   </div>
               </div>                            
               <!-- END WIDGET MESSAGES -->
               
           </div>
           <div class="col-md-3">
               <!-- START WIDGET REGISTRED -->
               <div class="widget widget-default widget-item-icon" onclick="location.href='pages-address-book.html';">
                   <div class="widget-item-left">
                       <span class="fa fa-user"></span>
                   </div>
                   <div class="widget-data">
                       <div class="widget-int num-count">0</div>
                       <div class="widget-title">Pending Tasks</div>
                       <div class="widget-subtitle">Congrats!</div>
                   </div>
                   <div class="widget-controls">                                
                       <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="top" title="Remove Widget"><span class="fa fa-times"></span></a>
                   </div>                            
               </div>                            
               <!-- END WIDGET REGISTRED -->
              
           </div>
           <div class="col-md-3">
               
               <!-- START WIDGET CLOCK -->
               <div class="widget widget-danger widget-padding-sm">
                   <div class="widget-big-int plugin-clock">00:00</div>                            
                   <div class="widget-subtitle plugin-date">Loading...</div>
                   <div class="widget-controls">                                
                       <a href="#" class="widget-control-right widget-remove" data-toggle="tooltip" data-placement="left" title="Remove Widget"><span class="fa fa-times"></span></a>
                   </div>                            
                   <div class="widget-buttons widget-c3">
                       <div class="col">
                           <a href="#"><span class="fa fa-clock-o"></span></a>
                       </div>
                       <div class="col">
                           <a href="#"><span class="fa fa-bell"></span></a>
                       </div>
                       <div class="col">
                           <a href="#"><span class="fa fa-calendar"></span></a>
                       </div>
                   </div>                            
               </div>                        
               <!-- END WIDGET CLOCK -->
               
           </div>
       </div>
       {% endcomment %}
       <!-- END WIDGETS -->  
	   
       <div class="row">
           <div class="col-md-12">

               <!-- START LINE CHART -->
                <!-- START BASIC TABLE SAMPLE -->
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <div class="col-md-12"><div class="col-md-8">
                                    <h3 class="panel-title">Sessions for "{{ task.activity }}"</h3></div>
                                </div>
                                <div class="panel-body">
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>Started</th>
                                                    <th>Ended</th>
                                                    <th>Duration</th>
                                                    <th>edit</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for session in task_sessions %}
                                                <tr>
                                                    <td>{{ session.started }}</td>
                                                    <td>{{ session.ended }}</td>
                                                    <td>{{ session.duration_human }}</td>
                                                    <td><a href="{% url 'task_edit_session' id=session.id %}">edit</a></td>
                                                </tr>
                                                {% endfor %}
                                              
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
               <!-- END LINE CHART -->

           </div>
	   </div>
    </div>
 <!-- PAGE CONTENT WRAPPER -->   
{% endblock pagecontent %}                             
            
      
   
	
	{% block extra-footer-js %}
	
    <!-- START THIS PAGE PLUGINS-->        
    <script type="text/javascript" src="{% static 'js/plugins/icheck/icheck.min.js' %}"></script>        
    <script type="text/javascript" src="{% static 'js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/scrolltotop/scrolltopcontrol.js' %}"></script>
    
    <script type="text/javascript" src="{% static 'js/plugins/morris/raphael-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/morris/morris.min.js' %}"></script>       
    <script type="text/javascript" src="{% static 'js/plugins/rickshaw/d3.v3.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/rickshaw/rickshaw.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>                
    <script type="text/javascript" src="{% static 'js/plugins/bootstrap/bootstrap-datepicker.js' %}"></script>                
    <script type="text/javascript" src="{% static 'js/plugins/owl/owl.carousel.min.js' %}"></script>                 
    
    <script type="text/javascript" src="{% static 'js/plugins/moment.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/plugins/daterangepicker/daterangepicker.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/dash_chart.js' %}"></script>
    <!-- END THIS PAGE PLUGINS-->
	   
	{% endblock extra-footer-js %}







